a {
    text-decoration: none;
    color: white;
}

.book-detail-container {
    padding: 50px;
    background-color: white;
}

.img-book {
    background-color: white;
}

h4 {
    font-family: roboto slab;
}

strong {
    font-family: 'Arimo', sans-serif;
    ;
}

.img-book img {
    height: 350px;
    width: 350px;
    padding: 10px;
}

.info-book {
    padding: 30px;
    border: 1px solid;
    background-image: url(../image/bg-ctu.png);
    background-size: 100% 100%;
    border-radius: 3px;
}

.same-book-author {
    padding: 50px;
    background-color: white;
}


.gallery {
    display: flex;
    justify-content: center;
    background-color: var (--background);
    gap: 16px;
}

.card {
    position: relative;
    left: 0;
    width: 222px;
    height: 250px;
    background-color: var (--background);
    border-radius: 8px;
    transition: 1000ms all;
    transform-origin: center left;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    outline: 1px solid var (--background);
    overflow: hidden;
}

.card img {
    height: 250px;
    object-fit: cover;
    border-radius: 4px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.card:hover figcaption {
    font-size: 1.2rem;
    position: absolute;
    height: fit-content;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0) 100%,
        );
    color: white !important;
    left: 0px;
    bottom: 0px;
    padding-left: 12px;
    padding-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    background-color: rgba(71, 71, 71, 0.5);
}

.card:hover~.card {
    font-weight: bold;
    cursor: pointer;
    transform: translateX(22px);
}

button {
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    margin: 15px 0;
}

button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

button:hover {
    background-color: var(--hover-color);
}

button:hover .arrow {
    background: var(--secondary-color);
}

button:hover .arrow:before {
    right: 0;
}

/* Tháº» <a id="button"> */
#button {
    width: fit-content;
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    margin: 15px 0;
}

#button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

#button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

#button:hover {
    background-color: var(--hover-color);
}

#button:hover .arrow {
    background: var(--secondary-color);
}

#button:hover .arrow:before {
    right: 0;
}



/* Responsive */
@media screen and (max-width: 576px) {
    .img-book img {
        height: 360px;
        width: 400px;
    }
}

@media screen and (max-width: 500px) {
    .img-book img {
        height: 210px;
        width: 245px;
    }
}