#leftSide{
	margin-top: 30px;
}

.mainContent{
	margin-top: 30px;
}

.leftMenu ul{
	list-style: none;	
	margin: 0px;
	padding: 10px;	 
}
.leftMenu ul li{
	text-shadow: 0 1px 0 #fff;
	font-weight:bold;
	line-height: 30px;
	padding-left: 4px;
	cursor: pointer;
    font-size:13pt;
}

.leftMenu ul li a{
	display: block;
}

.leftMenu ul li:hover{	 
    background-color:#ddd;
}

.leftMenu a{
   text-decoration: none;
}

.leftMenu a:visited{	 
   color: #0A5BC4;	
}

.group-box {
    border:1px solid #999;
    background:#f3f3f3;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -moz-box-shadow:2px 2px 5px #ccc;
    -webkit-box-shadow:2px 2px 5px #ccc;
    box-shadow:3px 3px 10px #ddd;
    margin-bottom:  10px;
    padding-bottom: 10px;
}
 
.group-box .title {
    background-color:   #4294DE;
	/* height: 50px; */
    padding: 5px 10px;
    margin-top: 0;
	color:#fff;
    font-size:20pt;
    font-weight:bold;
    text-shadow:0 1px 0 #777;
    -moz-box-shadow: 1px 1px 15px  #999 inset;
    -webkit-box-shadow: 1px 1px 15px  #999 inset;
    box-shadow: 1px 1px 15px  #999 inset;
}

.min-height{
    min-height: 400px;
}

.main-container{
    background-color: white;
}

.main-content {
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
    /* margin-bottom: 50px; */
    padding: 20px;
    background-color: #FFF5EE;
    border: 1px solid;
    margin-bottom: 40px;
}

.image {
    opacity: 1;
    display: block;
    width: 100px;
    height: 100px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    transform: translate(45%, -195%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.picture:hover .image {
    opacity: 0.3;
}

.picture:hover .middle {
    opacity: 1;
}

.active{
    background-color: #0A5BC4;
}

.active>a{
    color: white !important;
}

.phieumuon {
    background: powderblue;
    border: 1px solid;
    padding: 4px;
    border-radius: 2px;
    font-family: roboto slab;
    margin-bottom: 15px;
}

.phieumuon .sophieu{
    padding: 5px;
    border-bottom: 1px solid;
}

.note1{
    color:red;
    font-style: italic;
    padding-left: 10px;
    font-size: 14px;
    display: none;
}

.note2{
    color:red;
    font-style: italic;
    padding-left: 10px;
    font-size: 14px;
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal_book {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 9999;
}

.hideModal {
    color: #090909;
    padding: 0.3em 5em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
}
   
.hideModal:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
                inset -4px -4px 12px #ffffff;
}

#btnCallCard:disabled{
    pointer-events: auto !important;
    cursor: not-allowed !important;
}